:root{
    --80sYellow-custom: #ffce00;
    --80sRobinsEgg-custom: #94fffc;
    --80sHotPink-custom: #f540c1;
    --80sNeonGreen-custom: #01eaa9;
    --80sPurple-custom: #9e00b2;
    --80sLighterHotPink: hsl(314, 66%, 78%);
}
* {
    background-color: var(--80sRobinsEgg-custom);
    color: black;
    text-align: center;
    font-family: "Open-Dyslexic", "Comic Sans", "Arial", sans-serif  ;
    flex: auto;
}
body {
    background-image: url('./images/5794037.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

table {
    border: 4px solid var(--80sPurple-custom);
    border-collapse: collapse;
    margin: auto;
}

thead th {
    background-color: var(--80sPurple-custom);
    color: var(--80sYellow-custom);
    border: 3 px solid var(--80sNeonGreen-custom);
    padding: 5px;
}

tbody tr td{
    border: 2px solid var(--80sPurple-custom);
    background-color: var(--80sYellow-custom);
    padding: 5px;
}

h1, h2 {
    text-align: center;
    width: 100%;
    max-width: 100%;
    background-color: var(--80sPurple-custom);
    color: var(--80sNeonGreen-custom);
    border: 6px solid var(--80sYellow-custom);
    border-radius: 50%;
}
h1 {
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

section {
    background-color: var(--80sNeonGreen-custom);
}

form{
    background-color: var(--80sNeonGreen-custom);
    color: var(--80sHotPink-custom)
}

form label{
    background-color: var(--80sNeonGreen-custom);
    color: var(--80sPurple-custom);
    line-height: 150%;
    font-weight: bold;
    font-size: 20px;
}

form input{
    background-color: var(--80sLighterHotPink);
    color: black;
    border: 1px solid var(--80sPurple-custom);
}

form select{
    border: 1px solid var(--80sPurple-custom);
    background-color: var(--80sLighterHotPink);
}

button {
    background-color: var(--80sPurple-custom);
    color: var(--80sYellow-custom);
}
.completed td{
    text-decoration: line-through;
}
.completed .markCompleteBtn {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}
